In [8]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_raw = "Resources/schools_complete.csv"
student_raw = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
scdf = pd.read_csv(school_raw)
stdf = pd.read_csv(student_raw)

# Combine the data into a single dataset
cdf = pd.merge(scdf, stdf, how="left", on=["school_name", "school_name"])

ccdf = cdf[['school_name', 'grade', 'reading_score', 'math_score']]

df9 = ccdf.loc[ccdf['grade'] == "9th", :]
df10 = ccdf.loc[ccdf['grade'] == "10th", :]
df11 = ccdf.loc[ccdf['grade'] == "11th", :]
df12 = ccdf.loc[ccdf['grade'] == "12th", :]
del df9['grade']
del df10['grade']
del df11['grade']
del df12['grade']

g9 = df9.groupby('school_name')
g10 = df10.groupby('school_name')
g11 = df11.groupby('school_name')
g12 = df12.groupby('school_name')

rs9 = round(g9['reading_score'].mean(), 2)
rs10 = round(g10['reading_score'].mean(), 2)
rs11 = g11['reading_score'].mean()
rs12 = g12['reading_score'].mean()

ms9 = g9['math_score'].mean()
ms10 = g10['math_score'].mean()
ms11 = g11['math_score'].mean()
ms12 = g12['math_score'].mean()

fr9 = pd.DataFrame(rs9)
fr10 = pd.DataFrame(rs10)
fr11 = pd.DataFrame(rs11)
fr12 = pd.DataFrame(rs12)

fm9 = pd.DataFrame(ms9)
fm10 = pd.DataFrame(ms10)
fm11 = pd.DataFrame(ms11)
fm12 = pd.DataFrame(ms12)

fr9 = fr9.rename({'reading_score':'9th'}, axis='columns')
fr10 = fr10.rename({'reading_score':'10th'}, axis='columns')
fr11 = fr11.rename({'reading_score':'11th'}, axis='columns')
fr12 = fr12.rename({'reading_score':'12th'}, axis='columns')

fm9 = fm9.rename({'math_score':'9th'}, axis='columns')
fm10 = fm10.rename({'math_score':'10th'}, axis='columns')
fm11 = fm11.rename({'math_score':'11th'}, axis='columns')
fm12 = fm12.rename({'math_score':'12th'}, axis='columns')

mdf910r = pd.merge(fr9, fr10, how="left", on=["school_name"])
mdf91011r = pd.merge(mdf910r, fr11, how="left", on=["school_name"])
rsummary = pd.merge(mdf91011r, fr12, how="left", on=["school_name"])
# rsummary

mdf910m = pd.merge(fm9, fm10, how="left", on=["school_name"])
mdf91011m = pd.merge(mdf910m, fm11, how="left", on=["school_name"])
msummary = pd.merge(mdf91011m, fm12, how="left", on=["school_name"])
# msummary

del msummary.index.name
del rsummary.index.name

In [9]:
msummary["9th"] = msummary["9th"].map("{:.3f}".format)
msummary["10th"] = msummary["10th"].map("{:.3f}".format)
msummary["11th"] = msummary["11th"].map("{:.3f}".format)
msummary["12th"] = msummary["12th"].map("{:.3f}".format)

msummary.style

In [10]:
rsummary["9th"] = rsummary["9th"].map("{:.3f}".format)
rsummary["10th"] = rsummary["10th"].map("{:.3f}".format)
rsummary["11th"] = rsummary["11th"].map("{:.3f}".format)
rsummary["12th"] = rsummary["12th"].map("{:.3f}".format)

rsummary.style